.losemodal{
    /* Auto layout */

align-items: center;
text-align: center;
position: absolute;
width: 784px;
height: 527.56px;
top: -222px;
background: radial-gradient(124.52% 122.64% at 36.62% -30.07%, rgba(88, 24, 109, 0.46) 0%, rgba(123, 28, 155, 0.46) 100%), rgba(102, 0, 154, 0.2);
box-shadow: inset -2px 8px 66px #8D22C5, inset 1px -1px 20px #0096FF;
border-radius: 26px;
}
.close{
    position: absolute;
    top: 0px;
    right: 0px;
}