.bnb-background{
    background-image: url(../../images/bnb.png);
      /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bnbAm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bnb1{
width: 210px;
height: 90px;
position: relative;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #0096FF;
background-blend-mode: soft-light, normal;
border-radius: 12px;
}
.bnb2{
left: 71.44%;
right: 13.97%;

background: linear-gradient(0deg, rgba(36, 24, 86, 0.91), rgba(36, 24, 86, 0.91)), #DE792E;
box-shadow: inset -2px 9px 60px rgba(141, 34, 197, 0.66);
border-radius: 12px;
}
.change-my-color{
    fill: green;

}
.sign{
    position: absolute;
    top: 0px;
    right: 0px;
}