
/* 

*/

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
  }

.avatar1 {
    vertical-align: middle;
    height: 30px;
    border-radius: 50%;
    background-color: white;
  }

.bgLeader{
    background-color: #66009A;
    padding: 42px;
    border-radius: 22px;
box-shadow: 0px -3px 22px #0E7EDA;
position: relative;
}
.leader{
        /* border: 4px solid; */
        font-family: Space Ranger;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        /* margin-top: 221px; */
        /* or 94% */
        /* margin-left: 628px;
        margin-right: 538px; */
        color: #eee6e6;    text-align: center;

}
.leader1{
    background-image: url('../../images/lleedr.png');

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: min-content;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.leader2{
    position: relative;

}
.middledown{
    position: absolute;
    bottom: -50px;
    left: 20%;
    
}
.downleft{
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 8%;
}
.upleft{
    position: absolute;
    top: -325px;
    left: -50px;
    width: 8%;
}
.topright{
    position: absolute;
    top: -325px;
    right: -50px;
    width: 8%;
}
.downright{
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 8%;
}
.seefull{

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 50.87px;
line-height: 66px;
letter-spacing: 0.254804px;
background: -webkit-linear-gradient(#5B86FF, #D515FE);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 1400px) and (min-width: 300px)  {
    .middledown{
        position: absolute;
        bottom: -50px;
        left: 25%;
        width: 50%;
    }

}
@media only screen and (max-width: 750px) and (min-width: 300px)  {
    .downleft{
        position: absolute;
        bottom: -45px;
        left: -50px;
        width: 15%;

    }
    .upleft{
        position: absolute;
        top: -320px;
        left: -45px;
        width: 15%;

    }
    .topright{
        position: absolute;
        top: -320px;
        right: -45px;
        width: 15%;

    }
    .downright{
        position: absolute;
        bottom: -45px;
        right: -44px;
        width: 15%;

    }
    .seefull {
        font-size: 22px;
    }


}
