.card-size{
    width: 223px;
    height: 227px;
    
    filter: drop-shadow(6px 10px 22px #620095);
    border-radius: 16px 16px 0px 0px;
}
.bgBet{
    background: #2D0A53;
/* Brand/Secondary-Color */

border: 2px solid #66009A;
border-radius: 16px 16px 0px 0px;
}
.bg-result{


background: #66009A;
/* Brand/Secondary-Color */

}
body{
    background-color: #2D0A53;
}